body {
    font: 85%/1.1em Arial, Helvetica, sans-serif;
    min-width: 800px;
    min-height: 600px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

#top.ui-layout-pane, #bottom.ui-layout-pane, #center.ui-layout-pane,
#deliveryNotesView.ui-layout-pane, #deliveryNoteProductsView.ui-layout-pane {
    border: 0;
}

#left {
    padding: 10px;
}

#content {
    padding: 10px;
}

.left_link {
    display: block;
    width: 100%;
    padding: 5px;
}

#caption_label, #footer_label {
    display: block;
    font-weight: bold;
    font-size: 110%;
    text-align: right;
    line-height: 30px;
    text-align: center;
}

#login, .error_panel {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.error_panel {
    text-align: center;
}

#submit, #error {
    display: block;
    width: 100%;
}

#error {
    font-weight: bold;
    font-size: 110%;
    color: red;
    margin-bottom: 5px;
    text-align: center;
}