<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"                
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/resources/templates/main.xhtml">
        <ui:define name="content">
            <h:form id="productsForm" prependId="false">

                <p:growl id="productMessage" showDetail="true" />

                <p:menubar>
                    <p:menuitem value="Добавить товар" update="productsDlgForm" action="#{userSession.createProductObject()}" onclick="PF('productsDlg').show();"/>
                    <p:menuitem value="Изменить товар" update="productsDlgForm" onclick="PF('productsDlg').show();" rendered="#{userSession.selectedProduct ne null}"/>
                    <p:menuitem value="Удалить товар" update="productsForm" action="#{products.deleteProduct()}" rendered="#{userSession.selectedProduct ne null}">
                        <p:confirm header="Удаление товара" message="Вы хотите удалить товар #{userSession.selectedProduct.name}?" icon="ui-icon-alert"/>
                    </p:menuitem>
                </p:menubar>

                <p:dataTable id="productsTab" var="curProduct" value="#{products.products}"
                             selectionMode="single" selection="#{userSession.selectedProduct}" rowKey="#{curProduct.id}"
                             rows="10" paginator="true" rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             emptyMessage="Нет записей">

                    <p:ajax event="rowSelect" update="productsForm"/>

                    <p:column headerText="Код">
                        <h:outputText value="#{curProduct.id}" />
                    </p:column>

                    <p:column headerText="Наименование">
                        <h:outputText value="#{curProduct.name}" />
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:dialog id="productsDlg" header="Товар" widgetVar="productsDlg" closable="false" draggable="false" resizable="false" modal="true" dynamic="true" appendTo="@(body)">
                <h:form id="productsDlgForm">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Код" rendered="#{userSession.selectedProduct.id ne null}"/>
                        <p:outputLabel value="#{userSession.selectedProduct.id}" rendered="#{userSession.selectedProduct.id ne null}"/>
                        <p:outputLabel for="productName" value="Наименование"/>
                        <p:inputText id="productName" required="true" autocomplete="off" value="#{userSession.selectedProduct.name}"/>

                        
                        <p:commandButton value="Добавить" action="#{products.createProduct()}" update="productsDlgForm, productsForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('productsDlg').hide();" rendered="#{userSession.selectedProduct.id eq null}"/>
                        <p:commandButton value="Изменить" action="#{products.updateProduct()}" update="productsDlgForm, productsForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('productsDlg').hide();" rendered="#{userSession.selectedProduct.id ne null}"/>
                        <p:commandButton value="Отмена" action="#{userSession.deleteProductObject()}" oncomplete="PF('productsDlg').hide();" process="@this"/>
              
   
                      
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>

</ui:composition>
