<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"                
                xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/templates/main.xhtml">
        <ui:define name="content">
            <h:form id="shopForm" prependId="false">

                <p:growl id="productMessage" showDetail="true" />

                <p:menubar>
                    <p:menuitem value="Добавить магазин" update="shopDlgForm" action="#{userSession.createShopObject()}" onclick="PF('shopDlg').show();"/>
                    <p:menuitem value="Изменить магазин" update="shopDlgForm" onclick="PF('shopDlg').show();" rendered="#{userSession.selectedShop ne null}"/>
                    <p:menuitem value="Удалить магазин" update="shopForm" action="#{shop.deleteShop()}" rendered="#{userSession.selectedShop ne null}">
                        <p:confirm header="Удаление магазина" message="Вы хотите удалить магазин #{userSession.selectedShop.name}?" icon="ui-icon-alert"/>
                    </p:menuitem>
                </p:menubar>

                <p:dataTable id="shopTab" var="curShop" value="#{shop.shop}"
                             selectionMode="single" selection="#{userSession.selectedShop}" rowKey="#{curShop.id}"
                             rows="10" paginator="true" rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             emptyMessage="Нет записей">

                    <p:ajax event="rowSelect" update="shopForm"/>

                    <p:column headerText="Код">
                        <h:outputText value="#{curShop.id}" />
                    </p:column>

                    <p:column headerText="Наименование">
                        <h:outputText value="#{curShop.name}" />
                    </p:column>
                    
                </p:dataTable>
            </h:form>

            <p:dialog id="shopDlg" header="Товар" widgetVar="shopDlg" closable="false" draggable="false" resizable="false" modal="true" dynamic="true" appendTo="@(body)">
                <h:form id="shopDlgForm">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Код" rendered="#{userSession.selectedShop.id ne null}"/>
                        <p:outputLabel value="#{userSession.selectedShop.id}" rendered="#{userSession.selectedShop.id ne null}"/>
                        <p:outputLabel for="shopName" value="Наименование"/>
                        <p:inputText id="shopName" required="true" autocomplete="off" value="#{userSession.selectedShop.name}"/>
                        <p:commandButton value="Добавить" action="#{shop.createShop()}" update="shopDlgForm, shopForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('shopDlg').hide();" rendered="#{userSession.selectedShop.id eq null}"/>
                        <p:commandButton value="Изменить" action="#{shop.updateShop()}" update="shopDlgForm, shopForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('shopDlg').hide();" rendered="#{userSession.selectedShop.id ne null}"/>
                        <p:commandButton value="Отмена" action="#{userSession.deleteShopObject()}" oncomplete="PF('shopDlg').hide();" process="@this"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>

</ui:composition>
