<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"                
                xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/templates/main.xhtml">
        <ui:define name="content">
            <h:form id="stockForm" prependId="false">

                <p:growl id="productMessage" showDetail="true" />

                <p:menubar>
                    <p:menuitem value="Добавить склад" update="stockDlgForm" action="#{userSession.createStockObject()}" onclick="PF('stockDlg').show();"/>
                    <p:menuitem value="Изменить склад" update="stockDlgForm" onclick="PF('stockDlg').show();" rendered="#{userSession.selectedStock ne null}"/>
                    <p:menuitem value="Удалить склад" update="stockForm" action="#{stock.deleteStock()}" rendered="#{userSession.selectedStock ne null}">
                        <p:confirm header="Удаление склада" message="Вы хотите удалить склад #{userSession.selectedStock.name}?" icon="ui-icon-alert"/>
                    </p:menuitem>
                </p:menubar>

                <p:dataTable id="stockTab" var="curStock" value="#{stock.stock}"
                             selectionMode="single" selection="#{userSession.selectedStock}" rowKey="#{curStock.id}"
                             rows="10" paginator="true" rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             emptyMessage="Нет записей">

                    <p:ajax event="rowSelect" update="stockForm"/>

                    <p:column headerText="Код">
                        <h:outputText value="#{curStock.id}" />
                    </p:column>

                    <p:column headerText="Наименование">
                        <h:outputText value="#{curStock.name}" />
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:dialog id="stockDlg" header="Склад" widgetVar="stockDlg" closable="false" draggable="false" resizable="false" modal="true" dynamic="true" appendTo="@(body)">
                <h:form id="stockDlgForm">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Код" rendered="#{userSession.selectedStock.id ne null}"/>
                        <p:outputLabel value="#{userSession.selectedStock.id}" rendered="#{userSession.selectedStock.id ne null}"/>
                        <p:outputLabel for="stockName" value="Наименование"/>
                        <p:inputText id="stockName" required="true" autocomplete="off" value="#{userSession.selectedStock.name}"/>
                        <p:commandButton value="Добавить" action="#{stock.createStock()}" update="stockDlgForm, stockForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('stockDlg').hide();" rendered="#{userSession.selectedStock.id eq null}"/>
                        <p:commandButton value="Изменить" action="#{stock.updateStock()}" update="stockDlgForm, stockForm" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('stockDlg').hide();" rendered="#{userSession.selectedStock.id ne null}"/>
                        <p:commandButton value="Отмена" action="#{userSession.deleteStockObject()}" oncomplete="PF('stockDlg').hide();" process="@this"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>

</ui:composition>
