<!DOCTYPE html [<!ENTITY copy "&#169;">]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html; charset=UTF-8" encoding="UTF-8">

        <h:head>
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
                <meta charset="utf-8"/>
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                <title>Подсистема перемещения товаров (склад-магазин)</title>
            </f:facet>

            <f:facet name="middle">
                <h:outputStylesheet library="css" name="main.css"/>
            </f:facet>
        </h:head>
        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit id="top" position="north">
                    <h:outputText id="caption_label" value="My AEIS Project" />
                </p:layoutUnit>

                <p:layoutUnit id="bottom" position="south">
                    <h:outputText id="footer_label" value="2016 Version 1" />
                </p:layoutUnit>

                <ui:insert name="left_bar">
                    <p:layoutUnit id="left" position="west" size="150">
                        <h:panelGrid columns="1">    
                            <p:link class="left_link" outcome="products" value="Товары"/>
                            <p:link class="left_link" outcome="stock" value="Склады"/>
                            <p:link class="left_link" outcome="shop" value="Магазины"/>
                            <h:form>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                                
                            
                            </h:form>
                        </h:panelGrid>
                    </p:layoutUnit>
                </ui:insert>

                <p:layoutUnit id="content" position="center">
                    <ui:insert name="content"/>
                </p:layoutUnit>

            </p:layout>
        </h:body>
    </f:view>
</html>