<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/templates/main.xhtml">
        <ui:define name="content">
        </ui:define>
    </ui:composition>
</ui:composition>